<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
    <head>
   		<link rel="stylesheet" href="../../css/app.css" />
        <title>Infinispan Example</title>
    </head>
   <body class="security-app">
	<div class="details">
	    <h2>Spring Boot - Infinispan Cache</h2>
		<h4 style="color:black; margin-top:0px; margin-bottom:0px;" th:inline="text">Hello [[${#httpServletRequest.remoteUser}]]!</h4>
        <form th:action="@{/logout}" method="post">
            <input type="submit" class="submitLink" value="Sign Out"/>
        </form>
		<br/>
		<div style="width: 100%; overflow: hidden;">
		<form th:action="@{/caching/read/findSingleData}" method="post">
			<div style="width: 300px; float: left;"><input type="text" class="style-4" name="code"	placeholder="Ticket Code" /></div>
			<div style="margin-left: 0px;"><input type="submit" value="Get Ticket" class="button red small" style="margin-top: 10px;"/></div>
		</form>	</div>
	</div>
	<div class="lc-block">
		<div th:if="${status}">
			<p th:text="${status}" />
		</div>
		
		<div th:if="${singleData}">
			TKT ID&nbsp;&nbsp;&nbsp;TKT NAME&nbsp;&nbsp;TKT CODE<br/><br/>
       		<span th:text="${singleData.ticketid}"/>&nbsp;&nbsp;&nbsp;
       		<span th:text="${singleData.ticketName}"/>&nbsp;&nbsp;&nbsp;
       		<span th:text="${singleData.ticketCode}"/>       		
		</div>
	</div>
  </body>
</html>